@model YaseinPortfolio.Models.TrainingCourse

@{
    ViewData["Title"] = "Details";
}

<h1>Training Course Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingCourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingCourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingCourseImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingCourseImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateBodyIssuingTheCertificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateBodyIssuingTheCertificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingCoursePdfUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingCoursePdfUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrainingCourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
