@model IEnumerable<YaseinPortfolio.Models.TrainingCourse>

@{
    ViewData["Title"] = "Index";
}

<h1>Training Courses Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingCourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingCourseImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateBodyIssuingTheCertificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingCoursePdfUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingCourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingCourseImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateBodyIssuingTheCertificate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingCoursePdfUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainingCourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainingCourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainingCourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
