@model IEnumerable<YaseinPortfolio.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

<h1>Skills Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Enumerable.Reverse(Model))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillName)
                </td>
                <td>
                    <img src="~/portfolioImages/Skills/@item.SkillImg" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SkillId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SkillId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SkillId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
