@model YaseinPortfolio.Models.Certificate

@{
    ViewData["Title"] = "Details";
}

<h1>Certificate Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateImg)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.CertificateImg)*@
         <img src="~/portfolioImages/Certificates/@Model.CertificateImg" width="100" />
        </dd>
        <dt class = "col-sm-2">
         @Html.DisplayNameFor(model => model.CertificateGiver)
        </dt>
        <dd class = "col-sm-10">
         @Html.DisplayFor(model => model.CertificateGiver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificatePdf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificatePdf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateDescription)
        </dt>
        <dd class = "col-sm-10">
         @Html.DisplayFor(model => model.CertificateDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CertificateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
