@model YaseinPortfolio.Models.Experience

@{
    ViewData["Title"] = "Details";
}

<h1>Experience Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceJobName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceJobName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceCompanyImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceCompanyImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceEndtDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceEndtDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceCertificatePdf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceCertificatePdf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExperienceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
